@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');


//COLORS
$header-text-color: #fff;
$nav-hover-color: #e6e6e6;
$about-text-color: #808285;

//Button Colors
$btn-primary-color:#111;

//FONTS
$primary-font: "Inter", sans-serif;
$secondary-font: 'DM Serif Display',serif;
